RABBITMQ_DSN=amqp://guest:guest@rabbitmq:5672/%2f
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
RABBITMQ_LOGIN=guest
RABBITMQ_PASSWORD=guest

APP_ENV=dev

DEFAULT_URI=http://localhost:8080
APP_SECRET=your_secret_key_here_change_this
DATABASE_URL="mysql://app:!ChangeMe!@127.0.0.1:3306/app?serverVersion=8.0.32&charset=utf8mb4"

